{% extends "base.html" %} {% block content %}
<center>
<h2>Image Classifier</h2>

<div>
    <form id="upload-file" method="post" enctype="multipart/form-data">
        <label for="imageUpload" class="upload-label">
            Upload
        </label>
        <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg">
    </form>

    <div class="image-section" style="display:none;">
        <div class="img-preview">
            <div id="imagePreview">
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary btn-lg " id="btn-predict">Predict!</button>
        </div>
    </div>

    <div class="loader" style="display:none;"></div>

    <h3 id="result">
        <span> </span>
    </h3>

</div>

<div class="form-container">
    <div class="header">
        <h2>Report</h2>
        <p>Please enter the following details:</p>
    </div>

    <form action="" method="post" class="input-form">
        <div class="form-group">
            <label for="cpw">Enter concave points_worst:</label>
            <input type="number" id="cpw" name="cpw" required>
        </div>

        <div class="form-group">
            <label for="cpm">Enter concave points_mean:</label>
            <input type="number" id="cpm" name="cpm" required>
        </div>

        <div class="form-group">
            <label for="rm">Enter radius_mean:</label>
            <input type="number" id="rm" name="rm" required>
        </div>

        <div class="form-group">
            <label for="rw">Enter radius_worst:</label>
            <input type="number" id="rw" name="rw" required>
        </div>

        <div class="form-group">
            <label for="aw">Enter area_worst:</label>
            <input type="number" id="aw" name="aw" required>
        </div>

        <div class="submit-button">
            <button type="button" id="submit-button">Submit</button>
        </div>

        <div id="result" class="result-text"></div>
    </form>
</div>

<script>
    const submitButton = document.getElementById('submit-button');
    const resultElement = document.getElementById('result');

    submitButton.addEventListener('click', () => {
        const data = {
            cpw: parseFloat(document.getElementById('cpw').value),
            cpm: parseFloat(document.getElementById('cpm').value),
            rm: parseFloat(document.getElementById('rm').value),
            rw: parseFloat(document.getElementById('rw').value),
            aw: parseFloat(document.getElementById('aw').value)
        };
    
        fetch('http://127.0.0.1:5000/predictform', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(data => {
                // Check if there's an error in the response
                if (data.error) {
                    resultElement.innerHTML = data.error; // Display error message
                } else {
                    // Display the result based on the prediction
                    console.log(data.result)
                    if (data.result === 1) {
                        alert('Prediction: Breast cancer detected.');
                    } else {
                        alert('Prediction: Breast cancer not detected.');                    } 
                }
            })
            .catch(error => {
                resultElement.innerHTML = 'An error occurred. Please try again.';
                console.error('Error:', error); // Log the error for debugging
            });
    });
</script>


</center>

{% endblock %}